@import "tailwindcss";

@config "../tailwind.config.js";

/* 🧼 ต้องแปะตรงนี้ หลัง tailwind ทั้งหมด */
html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
